body {
    height: 100%;
    overflow: hidden;
}
.addGroup {
    padding: 0;
    border: none;
    background: none;
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.menuContainer {
    margin: 0;
    padding: 0;
    display: flex;
}

.activeTabs {
    margin: 1rem;
    text-align: center;
    width: 20%;
    height: 98vh;
    overflow: auto;
}

.tabGroups {
    margin: 1rem;
    width: 80%;
}

.leftSideBar {
    display: flex;
    flex-direction: column;
}

.savedTabs {
    margin: 1rem;
    text-align: center;
    height: 98vh;
    overflow: auto;
}