<<<<<<< HEAD
/* body {
    height: 100%;
    overflow: hidden;
=======
body {
  height: 100%;
  overflow: hidden;
>>>>>>> 9a9528bcff7aa094a3076ea33e0ef40ebe791a8e
}
.addGroup {
  padding: 0;
  border: none;
  background: none;
  font-size: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.menuContainer {
  margin: 0;
  padding: 0;
  display: flex;
}

.activeTabs {
  margin: 1rem;
  max-height: 70vh;
  width: 270px;
  height: auto;
}

.tabGroups {
  margin: 1rem;
  width: 80%;
}

.leftSideBar {
  display: flex;
  flex-direction: column;
}

.savedTabs {
    margin: 1rem;
    text-align: center;
    max-height: 30vh;
    height: auto;
    overflow: auto;
} */

html,
body {
  height: 100%;
}

.maxHeight {
  height: 100%;
}

.leftSideBar {
  background-color: #24305e;
}

.content {
  background-color: #535c7d;
}

.addGroup {
  padding: 0;
  border: none;
  background: none;
  font-size: 50px;
  position: relative;
  right: -95%;
}

h2 {
  color: #eeeeee;
}

.activeTabsContainer {
  height: 45%;
  margin-top: 10px;
}

.activeTabs {
  overflow-y: hidden;
  height: 85%;
}

.activeTabs:hover {
  overflow-y: auto;
}

.savedTabsContainer {
  height: 45%;
}

.savedTabs {
  overflow-y: hidden;
  height: 85%;
}

.savedTabs:hover {
  overflow-y: auto;
}

.tabGroupsContainer {
  height: 80%;
  margin-top: 10px;
}

.tabGroups {
  overflow-y: hidden;
  height: 90%;
}

.tabGroups:hover {
  overflow-y: auto;
}
