/* body {
  height: 300px;
  width: 320px;
} */

.btnContainer {
  text-align: center;
  margin: 10px;
  bottom: 0;
  right: 20%;
  left: 20%;
}

.popupTabGroupContainer {
  width: 300px;
  height: 310px;
  overflow-y: auto;
}

.menuBtn {
  width: 100%;
  background-color: mediumseagreen !important;
  color: white !important;
  border: none !important;
}

.menuBtn:hover {
  background-color: peachpuff !important;
}

.popupTabGroupHeader {
  background-color: mediumseagreen;
  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}
