/* 
body {font-family: "Lato", sans-serif;}

.tabContainer {
    position: relative;
    background-color: #555;
    color: white;
    float: left;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 14px;
    width: 250px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px;
}

.tabContainer:hover {
    background-color: #777;
}

.tabFavIcon {
    vertical-align: middle;
    margin-right: 5px;
}

.tabTitle {
    text-align: left;
    font-size: 11px;
} 
*/

body {
  font-family: 'Lato', sans-serif;
}

.tabFavIcon {
  vertical-align: middle;
  margin-right: 5px;
}

.tabTitle {
  text-align: left;
  font-size: 11px;
}

.tabContainer {
  position: relative;
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 0px 1px 10px;
  margin: 5px;
  float: inherit;
}

.tabContainer:hover {
  background-color: #777;
}
