body {font-family: "Lato", sans-serif;}

.tablink {
    position: relative;
    display: inline-block;
}

.button {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 14px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px;
}

.tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #2d2d2d;
    color: #ffffff;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.button:hover {
    background-color: #777;
}

.tablink:hover .tooltiptext {
    visibility: visible;
}



