body {
  font-family: 'Lato', sans-serif;
}

.tabFavIcon {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}

.tabTitle {
  text-align: left;
  font-size: 11px;
}

/* .tabContainer:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding-top: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(220, 220, 220, 0.2),
    rgba(220, 220, 220, 0.8),
    rgba(220, 220, 220, 1)
  );
  z-index: 1;
} */

.tabContainer {
  position: relative;
  background-color: gainsboro;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 3px;
  margin-right: 3px;
  float: left;
  width: 200px;
  height: 32px;
}

.tabContainer:hover {
  /* background-color: #cccccc; */
  background-color: peachpuff;
}

.tabContainer p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

.closeButton {
  z-index: 1001;
  float: right;
  margin: -42px 7px 0 0;
  color: black;
  font-size: 20px;
}

.closeButton p {
  width: 10px;
}

.closeButton:hover {
  color: black;
}

/* react-components need !important to override */
.card-header {
  background-color: white !important;
  border-bottom: 0px !important;
}

.card-body {
  background-color: white !important;
  margin-top: 10px !important;
  margin-left: 15px !important;
  padding: 0px !important;
}

.card {
  border-top: 0px solid white !important;
  border-bottom: 2px solid grey !important;
  border-left: 0px solid white !important;
  border-right: 0px solid white !important;
}
